<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Discussion Bot Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Initial Style sheet cdn-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!--rewrite the style sheet-->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="js/canvasjs.min.js"></script>
    <script src="js/script.js"></script>
    </head>
<body>

<div class = multi-background>
    <div class = "Start_Page">
        <div class = "Product_Service_Screen">
            <img class = "logo" src="/static/img/Phonic_Logo.png"></img>
            <p class = "Title_Page">
                Welcome to Phonic, a service that<br> analyzes the productivity of your conversations.
            </p>
        
            <div class = "Instructions">
                <p>Upload a Voice File to have your discussion analyzed.</p>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="custom-file">
                 <h1></h1>
                <input type="file" id="inputGroupFile02" aria-describedby="inputGroupFileAddon01">
            </div>

            <input class="btn btn-secondary btn-block" type=submit  value=Upload id= "Submit_btn"></button>
        </div>
        
        <form method="get" action="/page2">
            <button type="submit">Continue</button>
        </form>
        <form method=post enctype=multipart/form-data>
          <input type=file name=file>
          <p>

          <a href={{ url_for( "stats") }}>view stats</a>
    </form>
       
    </div>
    <div class = "Loading_Page">
        <img class ="gif_graph" src="static/img/graph.gif"></img>
        <p class = "buffertext"> Your Conversation is Being Handled</p>
        <img class ="Loadingclass" src= "img/spinny.gif"></img> 
    </div>

   
<button class="btn btn-secondary btn-block" id= "Download_btn"><o>Download Transcript</o></button>


    </div>
</div>
</body>
</html>
